/* #region rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root{
    --primary: #9792E4;
    --secondary: #0084FD;
    --secondary-soft: #B5DDFF;
    --accent: #FDC15F;
    --darker: #000;
    --dark: #333333;
    --light: #FFFFFF;
 }
 .conteiner{
    width: 65%;
    margin: 0 auto;
 }
 .white_text{
    color: white;
    font-size: 10px;
    margin: 1rem 0rem;
 }


 /* #endregion rules */

/* #region header*/
 header{
    /* display: fixed; */
    background-color: var(--secondary);
    /* height: 50px; */
 }
 .header_functions{

    display: flex;
    justify-content: space-between;
    align-items: center;

 }
 /* .col_1{
    transform: translate(0px, 3px);

 }
 .col_2{
    transform: translate(0px, 10px);

 } */

 .function{
    text-decoration: none;
    color: white;
    margin: 3px 10px;
    font-size: 0.7rem;

 }


 /* #endregion header*/

 /* #region main*/

 /* #region info*/

.row_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.card{

    background-color: var(--secondary-soft);
    margin: 1rem 0;

}
.card.info{
    width: calc(100% /12 *3.8);
    /* height: 200px; */
    /* background-color: var(--secondary-soft); */
    border-radius: 10px;
    text-align: center;
padding-bottom: 50px;

}
.card.demo{
    width: calc(100% /12 *7.9);
    /* height: 200px; */
border-radius: 10px;
display: flex;

}
.function.button{
    padding: 8px;
       color: black;
       background-color: white;
       border-radius: 25px;
    }
    .title_demo{
   color: var(--secondary);
   margin-bottom: 1rem;
    }

.info_text{
    font-size: 10px;
    margin: 1rem 0rem;

}

.col_5{
width: 250px;
margin: 1rem 1rem;

}
.col_6{
position:relative;
}
.iphone{
    position: absolute;
    bottom: 0;
    width: 160px;
    height: 150px;
    left: 35px;
}
.apple_logo{
    width: 10px;
    /* color: white; */
}
.app_store{
    color: white;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 10px;
    margin: 20px 0;
    width: 150px;
    text-align: center;
}
.loghi_info{
    width: 50px;
    margin: 1rem 0;

}
.title_info{
    color: var(--secondary);

}
/* #endregion info*/


/* #region strategy*/

.strategy{
    background-color: var(--primary);
    /* height: 600px; */
 }

.row_strategy{
display: flex;
justify-content: center;
padding-bottom: 2rem;
padding-top: 3rem;

}

.col_3{

width: calc(100% /12*5);
/* height: 500px; */
margin: 2rem 0;

}
.image_strategy_1{

    width: 100%;
    margin-bottom: 1.5rem;

}
.title_strategy_plan{
    color: white;
    margin-bottom: 1.5rem;
}
.col_4{


    width: calc(100% /12*4);
    /* height: 500px; */
    /* margin: 2rem 0; */
    position: relative;
    margin-left: 2rem;
}
.image_strategy_2{
    background-color: white; 
border-radius: 20px;
    position: absolute;
/* height: 300px; */
margin-top: 3rem ;
/* width: 100%;      */
/* width: -webkit-fill-available; */
bottom: 0;
color: #000;
text-align: center;
}
.title_app{
    /* font-size: 1rem; */
    margin-bottom: 1rem ;
}

.info_planning{
    padding: 20px 20px;
 }
 .app_download{
    background-color: var(--primary);
    color: #17171A;
    border-radius: 50%;
    padding: 2.5px 5px;
 }
/* #endregion strategy*/

/* #region testimonial*/


.testimonial_info{
text-align: center;
margin: 2rem 0;
}
.testimonial_text{
    font-size: 10px;
    color: #000;
}

.title_testimonial{
    color: var(--primary);
    margin: 0.5rem 0;
}
.testimonial_card{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    justify-content: space-around;
}
.profile{

    width: calc(100%/12 *3);

}
.info_profile{
width: calc(100%/12 *8);
color: white;

}
.picture_profile{
    width: 100%;
    border-radius: 50%;

    margin: 5px;
}

    .text_profile{
        font-size: 0.8rem;
    }
    h4{
        font: 0.8rem;
        margin-top: 10px;
    }
/* #endregion testimonial*/

/* #region benefit*/

.benefits{
    background-color: var(--primary);
    /* height: 600px; */
 }
 .befefits_title{
    text-align: center;
    color: white;
    padding: 1.5rem 0;
    font-size: 1.5rem;
 }
.row_benefit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.benefit{
    width: calc(100%/12 *3.5);
    /* height: 150px; */
    background-color: white;
    border-radius: 10px;
    margin: 1rem;
    color: var(--primary);

}
.card_benefit{
    margin: 1rem;
}
.benefit_number{
    font-size: 2.5rem;
}
.title_single_benefit{
    margin: 10px 0;
font-size: 1rem ;
}
.info_benefit{
color: var(--dark);
font-size: 10px;
}
.more_benefit_info{
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    padding: 2px 20px;
    border-radius: 10px;
}

/* #endregion benefit*/

/* #region about us*/

/* .about_us{
    height: 500px;
} */
.row_about_us{
    display: flex;
}
.info_about_us{
    height: 350px;
    width: calc(100%/12*8);
    background-color: blueviolet;

}
.testimonial_about_us{
    height: 350px;
    width: calc(100%/12*4);
background-color: blue;
}
/* #endregion about us*/

/* #region get started*/
.get_started{
    background-color: var(--primary);
}
.info_get_started{
    height: 500px;
}
/* #endregion get started*/

 /* #endregion main*/

 /* #region footer*/
 footer{
    background-color: var(--dark);
    height: 200px;
 }
 .row_footer{
display: flex;
justify-content: center;
 }
 .info_footer{
    /* text-align: center; */
    height: 200px;
    width: 400px;
    background-color: #0084FD;
 }
 /* #endregion footer*/




