/* #region rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root{
    --primary: #9792E4;
    --secondary: #0084FD;
    --secondary-soft: #B5DDFF;
    --accent: #FDC15F;
    --darker: #000;
    --dark: #333333;
    --light: #FFFFFF;
 }
 .conteiner{
    width: 65%;
    margin: 0 auto;
 }


 /* #endregion rules */

/* #region header*/
 header{
    /* display: fixed; */
    background-color: var(--secondary);
    /* height: 50px; */
 }
 .header_functions{

    display: flex;
    justify-content: space-between;

 }
 .col_1{
    transform: translate(0px, 3px);

 }
 .col_2{
    transform: translate(0px, 10px);

 }

 .function{
    text-decoration: none;
    color: white;
    margin: 3px 10px;
    font-size: 0.7rem;

 }

 /* #endregion header*/

 /* #region main*/

 /* #region info*/

.row_info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{

    background-color: var(--secondary-soft);
    margin: 1rem 0;

}
.card.info{
    width: calc(100% /12 *3.5);
    height: 200px;
    /* background-color: var(--secondary-soft); */
    border-radius: 10px;
    text-align: center;


}
.card.demo{
    width: calc(100% /12 *7.7);
    height: 200px;
border-radius: 10px;
display: flex;
}
.function.button{
    padding: 8px;
       color: black;
       background-color: white;
       border-radius: 25px;
    }
    .title_demo{
   color: var(--secondary);
   margin-bottom: 1rem;
    }

.info_text{
    font-size: 10px;
    margin: 1rem 0rem;

}

.col_5{
width: 250px;
margin: 1rem 1rem;

}
.col_6{
position:relative;
}
.iphone{
    position: absolute;
    bottom: 0;
    width: 160px;
    height: 150px;
    left: 35px;
}
.apple_logo{
    width: 10px;
    /* color: white; */
}
.app_store{
    color: white;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 10px;
    margin: 20px 0;
    width: 150px;
    text-align: center;
}
.loghi_info{
    width: 50px;
    margin: 1rem 0;

}
.title_info{
    color: var(--secondary);

}
/* #endregion strategy*/


/* #region strategy*/

.strategy{
    background-color: var(--primary);
    /* height: 600px; */
 }

.row_strategy{
display: flex;
justify-content: center;
padding: 2rem;
}

.col_3{

width: calc(100% /12*5);
/* height: 500px; */
margin: 2rem 0;

}
.image_strategy_1{

    width: 100%;

}
.col_4{
    background-color: white; 


    width: calc(100% /12*5);
    /* height: 500px; */
    margin: 2rem 0;
    position: relative;
}
.image_strategy_2{
    position: absolute;
/* height: 300px; */
margin: 2rem;
width: 100%;     
width: -webkit-fill-available;
bottom: 0;
}
/* #endregion strategy*/

/* #region testimonial*/


.testimonial_info{
    height: 200px;
    background-color: #0084FD;
}
.testimonial_card{
    background-color: #9792e470;
    display: flex;
    margin-bottom: 2rem;
}
.profile{
    height: 200px;
    width: calc(100%/12 *3);
    background-color: #FDC15F;
}
.info_profile{
width: calc(100%/12 *9);
height: 200px;
background-color: aquamarine;
}
/* #endregion testimonial*/

/* #region benefit*/

.benefits{
    background-color: var(--primary);
    /* height: 600px; */
 }
.row_benefit{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.benefit{
    width: calc(100%/12 *3.5);
    height: 150px;
    background-color: aqua;
    margin: 1rem;
}

/* #endregion benefit*/

/* #region about us*/

/* .about_us{
    height: 500px;
} */
.row_about_us{
    display: flex;
}
.info_about_us{
    height: 350px;
    width: calc(100%/12*8);
    background-color: blueviolet;

}
.testimonial_about_us{
    height: 350px;
    width: calc(100%/12*4);
background-color: blue;
}
/* #endregion about us*/

/* #region get started*/
.get_started{
    background-color: var(--primary);
}
.info_get_started{
    height: 500px;
}
/* #endregion get started*/

 /* #endregion main*/

 /* #region footer*/
 footer{
    background-color: var(--dark);
    height: 200px;
 }
 .row_footer{
display: flex;
justify-content: center;
 }
 .info_footer{
    /* text-align: center; */
    height: 200px;
    width: 400px;
    background-color: #0084FD;
 }
 /* #endregion footer*/




